.title{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.line {
    height: 6px;
    width:70px;
    background-color: black;
    margin: 8px auto;
}
.round{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.members{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.winspoints{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.btn{
    font-family: 'Poppins', sans-serif !important;
}

.pfp {
    width: 600px; 
    display: flex;
    justify-content: space-between;
}

.pfp1, .pfp2, .pfp3 {
    width: 30%;
    text-align: center; 
}
